<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Form</title>
</head>
<body>
    <form action="/confirm" method="post">
        <label for="firstname">First name</label><br>
        <input type="text" id="firstname" /><br>
        <label for="lastname">Last name</label><br>
        <input type="text" id="lastname" /><br>
        <label for="dob">Date of birth</label><br>
        <input type="date" id="dob" /><br>
        <label for="address">Address</label><br>
        <input type="text" id="address" /><br>
        <label for="postcode">Postcode</label><br>
        <input type="text" id="postcode" /><br>
        <label for="email">Email</label><br>
        <input type="email" id="email" /><br>
        <label for="phone">Phone</label><br>
        <input type="text" id="phone" /><br>

        <input type="submit" id="submit" value="Submit">
    </form>
</body>
</html>